.CS{
  color: rgb(235, 201, 8);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.EE{
  color: rgb(168, 9, 168);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.FS{
  color: rgb(7, 161, 7);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.FH{
  color:rgb(214, 13, 13);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.HS{
  color: rgb(13, 117, 214);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.LG{
  color: rgb(15, 59, 100);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.TR{
  color: rgb(14, 248, 236);
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.legend {
  line-height: 30px;
  color: #555;
  background-color: white;
  padding: 10px;
}

.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;

}
.legend i {
  width: 40px;
  height: 20px;
  float: left;
  margin-right: 8px;
}

body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.leaflet-control-layers{
  font-size: 20px;
  color: #555;
}

.leaflet-popup-content{
  font-size: 20px;
  width: 100px;
}

.leaflet-popup-content-wrapper{
  background-color: rgb(223, 219, 219);
  color: #555;
  line-height: 30px;
}

.leaflet-control{
  font-size: 20px;
}


